.result {
    position: fixed;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #1f1d2c;
    border: solid #121035;
    border-radius: 8px;
    padding: 20px;
    color: white;
    width: 400px;
    max-width: 90%;
    text-align: center;
    font-size: xx-large;
  }
  
  .result-content {
    width: 100%;
    color: rgb(228, 221, 221);
  }
  
  .result-header {
    display: flex;
    justify-content: flex-end; 
  }
  
  .result-header .on-close {
    cursor: pointer;
    color: white;
  }
  
  .result-header .on-close:hover {
    color: gray; 
  }
  
  